/* #overlay{
    background-image: url('/motive/static/images/giphy.gif');
    
    
}
 
.login{
     background-image: url('/motive/static/images/giphy.gif');
}
body{
     background-image: url('/motive/static/images/giphy.gif');
     
} */