{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<body style="background-image: url('https://images.unsplash.com/photo-1652910872614-486e652979ff?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687'); background-repeat: no-repeat; background-position: center center; height: 100vh; background-size: cover;"></body>
<h1 align="center">POST A BLOG</h1>

<form method="POST">
  <textarea name="text" id="text" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{% endblock %}
