{% extends "base.html" %}
{% block title %} Home  {% endblock %}
{% block content %}

{%block styles%}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
{% endblock %} 
<div class="heading" style="text-align: center;">
    <h1><i>ABOUT US</i></h1>
</div>
<p>
</p>
</body>
<div class="container-fluid">
<div class="card mb-3" style="max-width: 100em; opacity: 0.9;">
    <div class="row g-0">
        <div class="col-md-6"
            style="background-image:url('https://images.unsplash.com/photo-1516027828283-84217f09f3c4?crop=entropy&cs=tinysrgb&fm=jpg');background-size:
            cover;background-repeat: no-repeat;">
            <!-- <img src="motive/static/mental.jpeg" class="img-fluid rounded-start" alt="..."> -->
        </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">WHO ARE WE?</h5>
                    <p class="card-text">Sometimes, the best way to talk about depression is just to blurt it out. The team
                    at Blurt knows this, and that’s
                    why they’re encouraging you to talk about it. They’re a social enterprise dedicated to creating
                    positive change, and
                    they want you to know that they’re here for you.<br>
                    From a recent blog post on active listening versus just hearing: “As with everything else in life,
                    there’s no ‘one
                    size fits all’ method for an effective conversation and we can’t assume that someone isn’t listening
                    to<br>
                    to us based on a generalized idea of what active listening looks like. Through getting to know
                    people, we will learn
                    how they prefer to communicate and we’ll learn to spot when they’re hearing, and when they’re
                    actively listening.”</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">I envision a world where solopreneurs, <br>with the help of their mentors, are
                        successful in achieving their personal<br> and professional goals and objectives, <br>a world where they
                        do more than survive: they thrive..</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Vision</h5>
                    <p class="card-text">Creates and upholds a fair process to address behavior contrary to the
                        standards of the community.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
